*{
    box-sizing: border-box;
}
.cointainer h1{
    display: block;
    margin-left:30%;
}
#name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 30px;
}
#name img{
    width: 70px;
    height: 80px;
    border-radius: 50%;
}
#row1{
    display: flex;
    flex-direction: row;
}
#card2{
    width:100%"
}
#macro{
    position: relative;
}
#img-constr{
    width:100% ;
}
.cointainer h1{
    position: absolute;
    0
    
}